@{
    ViewData["Title"] = "Chat";
}

@model IEnumerable<TestingAppWeb.Models.ChatMessageDto>

<link rel="stylesheet" href="~/css/chat/button.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/chat/container.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/chat/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/chat/message.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/chat/modal.css" asp-append-version="true" />

<h2>Чат</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="chat-wrapper">
        <div class="chat-container" id="chat-container">
            <ul id="chat-messages">
                @foreach (var message in Model)
                {
                    <li class="chat-message">
                        <div class="message-content" data-id="@message.MessageId">
                            <strong>@message.UserName</strong>
                            <small> (@message.Timestamp.ToString("yyyy-MM-dd HH:mm")):</small>
                            <p>@message.Text</p>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <button class="message-options" title="Действия">⋯</button>
                        }
                    </li>
                }
            </ul>
        </div>

        <button id="scroll-down-btn" type="button">↓</button>

        <form id="chat-form">
            <input type="text" id="message" placeholder="Сообщение" required />
            <button type="submit">Отправить</button>
        </form>
    </div>
}
else
{
    <div class="alert alert-warning">
        Для участия в чате необходимо <a asp-controller="User" asp-action="Login">войти</a>
    </div>
}

<script type="text/javascript">
    const isAdmin = @((User.IsInRole("Admin")) ? "true" : "false");
</script>
<script type="module" src="~/js/chat/main.js" asp-append-version="true"></script>